/* General styles and fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}


body {
    background-image: url("../img/GridBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation bar */
header {
    top: 0;
    width: 100%;
    position: fixed;
    height: 60px;
}

#navbar {
    padding: 10px;
    width: 100%;
    position: sticky;
    display: inline-flex;
    justify-content: space-between;
    background-color: #212529;
}

#navbar h1 {
    color: #E6E7E7;
    font-size: 30px;
    align-self: flex-end;
    text-transform: uppercase;
}

#navbar ul {
    list-style: none;
    align-self: center;
}

#navbar ul>li {
    float: left;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 25px;
    text-transform: uppercase;
}

#navbar a {
    color: #7D7F81;
    font-weight: 500;
    text-decoration: none;
}

#navbar a:hover,
#navbar a:active {
    color: white;
}

/* Main section */

#section {
    width: 100%;

}

#homeText {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(197, 253, 10);
    position: absolute;
    top: 50%;
}

h2 {
    text-shadow: 2px 5px 2px rgb(169, 170, 165);
}

/* Footer style and positioning */

#footer {
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: #212529;
    color: #7D7F81;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
}